<section id="why ">
    <div class="container shadow-lg py-3">
        <div class="row">
            <div class="col-md-6 d-flex align-items-center">
                <div class="text-why">
                    <div class="title-why fw-bold">Kenapa NEWS-ASIX Jadi Pilihan Tepat</div>
                    <div class="title-why fw-bold">Untuk #AsetMasaDepan ?</div>
                    <div class="content-why display-7">NEWS-ASIX selalu memberikan harga terbaik dalam market dan
                        menyediakan
                        transaksi
                        24 jam nonstop. Anda juga akan mendapatkan kemudahan dan keamanan dalam melakukan jual beli
                        kripto
                        dan saham
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-6">

                        <div class="card mb-4 rounded-3 shadow-sm">
                            <div class="card-header py-3 d-flex justify-content-center">
                                <i class="bi bi-coin" style="font-size: 3rem;"></i>
                            </div>
                            <div class="card-body">
                                <h4 class="card-title pricing-card-title">Harga Terjangkau</h4>
                                <ul class="list-unstyled mt-3 mb-4">
                                    <li>Platform jual beli dengan harga terjangkau, bisa dapat keuntungan tanpa harus
                                        takut memulai.</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="card mb-4 rounded-3 shadow-sm">
                            <div class="card-header py-3 d-flex justify-content-center">
                                <i class="bi bi-clock" style="font-size: 3rem;"></i>
                            </div>
                            <div class="card-body">
                                <h4 class="card-title pricing-card-title">Transaksi 24/7</h4>
                                <ul class="list-unstyled mt-3 mb-4">
                                    <li>Dengan aktivitas pasar 24 jam nonstop, transaksi dapat dilakukan di mana pun dan
                                        kapan pun.</li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="card mb-4 rounded-3 shadow-sm">
                            <div class="card-header py-3 d-flex justify-content-center">
                                <i class="bi bi-heart-fill" style="font-size: 3rem;"></i>
                            </div>
                            <div class="card-body">
                                <h4 class="card-title pricing-card-title">Mudah Digunakan</h4>
                                <ul class="list-unstyled mt-3 mb-4">
                                    <li>Transaksi lebih mudah dan aman melalui website atau aplikasi dalam satu
                                        genggaman.</li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="card mb-4 rounded-3 shadow-sm">
                            <div class="card-header py-3 d-flex justify-content-center">
                                <i class="bi bi-shield-lock" style="font-size: 3rem;"></i>
                            </div>
                            <div class="card-body">
                                <h4 class="card-title pricing-card-title">Aman Terlindungi</h4>
                                <ul class="list-unstyled mt-3 mb-4">
                                    <li>NEWS-ASIX terdaftar dan diawasi langsung oleh BAPPEBTI dan Kemkominfo.</li>
                                </ul>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>