<div class="container">
    <div class="about-1">
        <h1>Tentang News Asix</h1>
        <div class="row">
            <div class="col-md-6">
                <p class="text-about">Lorem ipsum dolor sit amet.</p>
                <p class="text-about">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos et harum quo, molestias esse
                    reprehenderit quisquam, voluptatibus quam quae nostrum tenetur eum, numquam nihil animi quis
                    possimus? Perspiciatis dolor, repudiandae incidunt nemo hic voluptatibus fugiat officiis accusamus
                    similique, eveniet unde debitis illo voluptates quibusdam alias ipsa sed, aliquid quae earum
                    pariatur voluptatum rerum minus omnis. Deserunt nulla praesentium tempore ea quod laborum nemo quam.
                    Placeat deleniti minima veniam ipsam molestias!
                </p>
            </div>
            <div class="col-md-6">
                <img src="https://s4.bukalapak.com/bukalapak-kontenz-production/content_attachments/87519/w-586/125811587_m_1_.jpg"
                    alt="" width="100%">
            </div>
            <p class="text-about mt-5">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Qui at veritatis
                aspernatur eligendi alias corrupti, architecto nemo facere quos cumque earum numquam rerum, totam, saepe
                in odit! Ratione velit dolorum quaerat? Iure totam ullam excepturi laborum repudiandae rerum impedit
                unde minus libero earum quaerat est, veniam accusantium necessitatibus cum suscipit nulla maxime aliquam
                veritatis nisi eligendi, saepe quisquam doloremque natus. Ea, voluptate sed iste nihil ipsa eaque
                voluptatibus animi velit fuga impedit similique autem, veniam, optio sapiente obcaecati eligendi
                distinctio voluptates at. Dolore earum impedit magnam vitae sapiente, consectetur qui voluptas
                dignissimos fugiat nihil velit quae corrupti quaerat exercitationem beatae!</p>
        </div>
    </div>


    <div class="about-2">
        <div class="row">
          
            <div class="col-md-6">
                <img src="https://media.bareksa.com/cms/media/assets/image/2020/02/15645_182512cde33f7624bf530fd22b53a2d8.jpg"
                    alt="" width="100%">
            </div>
            <div class="col-md-6">
                <h1 class="ms-auto ">Text Title</h1>
                <p class="text-about">Lorem ipsum dolor sit amet.</p>
                <p class="text-about">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos et harum quo, molestias esse
                    reprehenderit
                    quisquam, voluptatibus quam quae nostrum tenetur eum, numquam nihil animi quis possimus?
                    Perspiciatis
                    dolor, repudiandae incidunt nemo hic voluptatibus fugiat officiis accusamus similique, eveniet unde
                    debitis illo voluptates quibusdam alias ipsa sed, aliquid quae earum pariatur voluptatum rerum minus
                    omnis. Deserunt nulla praesentium tempore ea quod laborum nemo quam. Placeat deleniti minima veniam
                    ipsam molestias!
                </p>
            </div>

        </div>
    </div>
</div>