<div class="container">
    <div class="article shadow-lg py-3 px-3">

        <div class="article-header text-center">
            <h1>Artikel {{id}}</h1>
            <img src={{image}} alt="" class="img-title">

        </div>
        <div class="text-container">

            <p class="aticle-title">Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat nisi ea nesciunt
                officiis impedit. Velit animi
                eligendi repellat delectus doloribus aperiam ab voluptate quibusdam consequuntur quisquam ipsa amet
                alias
                architecto cum, quasi odit laborum? Assumenda ullam eius debitis alias excepturi quia ad id magnam vero
                deserunt
                necessitatibus amet consequuntur ut a, optio, praesentium explicabo iusto. Voluptatum repellat
                voluptate,
                adipisci harum aut omnis aliquid? Sequi similique magni distinctio saepe iure molestiae dicta architecto
                illum
                sit maxime quae facilis magnam consequatur labore, neque recusandae repellat quos, itaque natus atque
                fugiat!
                Possimus placeat fuga impedit iste quae perferendis minima earum blanditiis quia vero, maxime corporis
                nostrum
                tenetur modi magnam dolor reprehenderit vel quis delectus debitis cumque ad enim! Autem quam reiciendis,
                explicabo aut eos fugit minus corrupti nostrum. Earum suscipit unde officia ipsa aspernatur distinctio,
                molestiae harum ea quod aperiam facere quae fugit pariatur, fuga eveniet culpa omnis odio repellendus.
                Aut
                facilis hic magni itaque laboriosam, quae quos quo incidunt. Facere explicabo doloremque ad, soluta
                distinctio
                eveniet ipsa unde vero fuga quidem rerum fugit libero, iure magni quas assumenda obcaecati consequatur
                temporibus fugiat provident ut praesentium voluptates sapiente. Praesentium reiciendis facere deleniti
                expedita
                architecto autem itaque officia similique cum reprehenderit, harum ullam ipsam.
            </p>
            <p class="aticle-title">Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat nisi ea nesciunt
                officiis impedit. Velit animi
                eligendi repellat delectus doloribus aperiam ab voluptate quibusdam consequuntur quisquam ipsa amet
                alias
                architecto cum, quasi odit laborum? Assumenda ullam eius debitis alias excepturi quia ad id magnam vero
                deserunt
                necessitatibus amet consequuntur ut a, optio, praesentium explicabo iusto. Voluptatum repellat
                voluptate,
                adipisci harum aut omnis aliquid? Sequi similique magni distinctio saepe iure molestiae dicta architecto
                illum
                sit maxime quae facilis magnam consequatur labore, neque recusandae repellat quos, itaque natus atque
                fugiat!
                Possimus placeat fuga impedit iste quae perferendis minima earum blanditiis quia vero, maxime corporis
                nostrum
                tenetur modi magnam dolor reprehenderit vel quis delectus debitis cumque ad enim! Autem quam reiciendis,
                explicabo aut eos fugit minus corrupti nostrum. Earum suscipit unde officia ipsa aspernatur distinctio,
                molestiae harum ea quod aperiam facere quae fugit pariatur, fuga eveniet culpa omnis odio repellendus.
                Aut
                facilis hic magni itaque laboriosam, quae quos quo incidunt. Facere explicabo doloremque ad, soluta
                distinctio
                eveniet ipsa unde vero fuga quidem rerum fugit libero, iure magni quas assumenda obcaecati consequatur
                temporibus fugiat provident ut praesentium voluptates sapiente. Praesentium reiciendis facere deleniti
                expedita
                architecto autem itaque officia similique cum reprehenderit, harum ullam ipsam.
            </p>
            <p class="aticle-title">Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat nisi ea nesciunt
                officiis impedit. Velit animi
                eligendi repellat delectus doloribus aperiam ab voluptate quibusdam consequuntur quisquam ipsa amet
                alias
                architecto cum, quasi odit laborum? Assumenda ullam eius debitis alias excepturi quia ad id magnam vero
                deserunt
                necessitatibus amet consequuntur ut a, optio, praesentium explicabo iusto. Voluptatum repellat
                voluptate,
                adipisci harum aut omnis aliquid? Sequi similique magni distinctio saepe iure molestiae dicta architecto
                illum
                sit maxime quae facilis magnam consequatur labore, neque recusandae repellat quos, itaque natus atque
                fugiat!
                Possimus placeat fuga impedit iste quae perferendis minima earum blanditiis quia vero, maxime corporis
                nostrum
                tenetur modi magnam dolor reprehenderit vel quis delectus debitis cumque ad enim! Autem quam reiciendis,
                explicabo aut eos fugit minus corrupti nostrum. Earum suscipit unde officia ipsa aspernatur distinctio,
                molestiae harum ea quod aperiam facere quae fugit pariatur, fuga eveniet culpa omnis odio repellendus.
                Aut
                facilis hic magni itaque laboriosam, quae quos quo incidunt. Facere explicabo doloremque ad, soluta
                distinctio
                eveniet ipsa unde vero fuga quidem rerum fugit libero, iure magni quas assumenda obcaecati consequatur
                temporibus fugiat provident ut praesentium voluptates sapiente. Praesentium reiciendis facere deleniti
                expedita
                architecto autem itaque officia similique cum reprehenderit, harum ullam ipsam.
            </p>
        </div>
        <a routerLink="/article" class="btn btn-warning">Kembali</a>
    </div>
</div>